layout node

# Use Node LTS
export PATH="${HOMEBREW_PREFIX:-/usr/local}/opt/node@18/bin:$PATH"

# Ensure semver gem takes precedence over npm semver
export PATH="${HOMEBREW_PREFIX:-/usr/local}/opt/gems/bin:$PATH"

[[ -f .envrc.local ]] && source_env .envrc.local

# vim:ft=bash
