name: NPM Publish

on:
  push:
    tags:
      - "*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set version variable
        id: vars
        run: |
          if [[ "${GITHUB_REF#refs/heads/}" = "${GITHUB_REF}" ]]; then
            APP_VERSION=${GITHUB_REF#refs/tags/}
          else
            version=$(git describe --tags --abbrev=0 || echo 0.0.0)
            subver=${{ github.run_number }}
            APP_VERSION=$version+b$subver
          fi
          echo "version: [$APP_VERSION]"
          echo "version=$APP_VERSION" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v2

      - run: pnpm set-version
        env:
          APP_VERSION: ${{ steps.vars.outputs.version }}

      - name: Publish
        run: pnpm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

# vim:ft=yaml:et:ts=2:sw=2
